 <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h4>Elementos a probar</h4>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="/">Dashboard</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Prueba de elementos del sistema
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
          <div class="content">
            Apps De ProyectFlow365
        <div class="row">
            <button class="pad-button" style="background-color: #104b53; color: #e8e1d1;" data-toggle="modal" data-target="#Maqueta"> 
          <i class="lni lni-pencil"></i>
          <span>Proyect Manager</span>
        </button>
         <button class="pad-button" style="background-color: #053b23; color: #e8e1d1;" data-toggle="modal" data-target="#Maqueta"> 
          <i class="lni lni-pencil"></i>
          <span>Proyect Finances</span>
        </button>
         <button class="pad-button" style="background-color: #2323F5; color: #e8e1d1;" data-toggle="modal" data-target="#Maqueta"> 
          <i class="lni lni-pencil"></i>
          <span>Proyect Automate</span>
        </button>
         <button class="pad-button" style="background-color: #053b23; color: #e8e1d1;" data-toggle="modal" data-target="#Maqueta"> 
          <i class="lni lni-pencil"></i>
          <span>Proyect Automate</span>
        </button>
        </div>
      </div>
   <div class="content">

          modal vacio
        <div class="row">
            <button class="pad-button" data-toggle="modal" data-target="#Maqueta"> 
          <i class="lni lni-pencil"></i>
          <span>Modal vacio </span>
        </button>  
          <button class="pad-button" data-toggle="modal" data-target="#sysmodal"> 
          <i class="lni lni-pencil"></i>
          <span>Modal del sistema vacio </span>
        </button> 
        </div>

          informativos
        <div class="row">
            <button class="pad-button" data-toggle="modal" data-target="#Success"> 
          <i class="lni lni-pencil"></i>
          <span>Completado </span>
        </button>   
            <button class="pad-button" data-toggle="modal" data-target="#Error"> 
          <i class="lni lni-pencil"></i>
          <span>Error</span>
        </button> 
        <button class="pad-button" data-toggle="modal" data-target="#YouSure"> 
          <i class="lni lni-pencil"></i>
          <span>Seguro</span>
        </button>
        </div>
         
         Interacctivos
        <div class="row"> 
        <button class="pad-button" data-toggle="modal" data-target="#search-and-select-users"> 
          <i class="lni lni-users"></i>
          <span>Integrantes </span>
        </button>         
        <button class="pad-button" data-toggle="modal" data-target="#listbox-picker"> 
          <i class="lni lni-users"></i>
          <span>Integrantes() </span>
        </button>     
        <button class="pad-button" data-toggle="modal" data-target="#user-data-entry-interface"> 
          <i class="lni lni-files"></i>
          <span>Udei</span>
        </button>     
            </div>

          </div>

