<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon" />
    <title>App Selector</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap">
  </head>
  <body>
    <!-- ======== Preloader =========== --->
    <div id="preloader">
      <div class="spinner"></div>
    </div>
     <!-- ======== Preloader =========== -->

  <main>

<div>
  
<d<a href="/config-server" class="fa fa-gear config-button"></a>

</div>


</main>

  <!-- ========= All Javascript files linkup ======== -->
    <script src="/assets/js/welcome.js"></script>
  </body>
</html>