<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon" />
    <title>App Selector</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap">
  </head>
  <body>
    <!-- ======== Preloader =========== --->
    <div id="preloader">
      <div class="spinner"></div>
    </div>
     <!-- ======== Preloader =========== -->

  <main>

<div>
<div class="app-list">
  <a class="app manager-module" href="/project-manager">
    <img src="../assets/images/logo/logo-2.svg" alt="P-Manager">
    <div class="app-info">
      <h3>Project Manager</h3>
      <p>Planifica y efectua un seguimiento a projectos y usuarios</p>
    </div>
  </a>
  <a class="app automate-module" href="/project-automate">
    <img src="../assets/images/logo/logo-2.svg" alt="P-automate">
    <div class="app-info">
      <h3>Project Automate</h3>
      <p>Automatiza las tareas y procesos repetitivos</p>
    </div>
  </a>
  <a class="app sales-module" href="/sales" >
    <img src="../assets/images/logo/logo-2.svg" alt="Logo App 3">
    <div class="app-info">
      <h3>App 3</h3>
      <p>Descripción de la App 3</p>
    </div>
  </a>
  <a class="app automate-module" href="#">
    <img src="../assets/images/logo/logo-2.svg" alt="Logo App 4">
    <div class="app-info">
      <h3>App 4</h3>
      <p>Descripción de la App 4</p>
    </div>
  </a>
</div>
<a href="/config-server" class="fa fa-gear config-button"></a>

</div>


</main>

  <!-- ========= All Javascript files linkup ======== -->
    <script src="/assets/js/app-selector.js"></script>
  </body>
</html>