<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Configuracion</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap">
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
  <div class="notification-container">
    <div class="notification" id="notification">
      <% if (msg && msg.trim() !=='' ) { %>
        <script>
          showNotification('<%=msg%>');
        </script>
        <% } %>
    </div>
  </div>
  <div class="config-macrocontainer">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title"><a class="fa fa-circle ready"></a>
          ProjectFlow System by Sad4k</div>
        <div class="section-actions">
          <a href="/login" class="config-a-btn">Return</a>
        </div>
      </div>
      <div class="modal-inside-title">Menu de Configuracion</div>
      <div class="modal-body">
        <form id="configForm" method="POST">
          <div class="general-container">
            <div class="options">
              <div id="contenedor-proyectos" class="options-container">
                <div class="section-spacer">Configuracion de Sistema</div>

                <div class="option" onclick="changePage(`System-config`)">Sistema</div>
                <div class="option" onclick="changePage(`Host-config`)">Dispositivo</div>
                <div class="option" onclick="alert(`Device-config`)">Cuentas</div>

                <div class="section-spacer">Configuracion Adicional</div>

                <div class="option" id="db-config-pannel" style="display: none;" onclick="changePage(`db-config`)">Base
                  de Datos</div>
                <div class="option">Sistema</div>
                <div class="option">Rutas</div>

              </div>
            </div>
            <div class="config-container" id="configTabPanel">
            </div>

          </div>

        </form>

        <div class="modal-footer">
          <button class="btn primary close">Cancel</button>
          <button id="configSubmit" class="btn success">Success</button>
        </div>


      </div>
      <!-- ======== newMacroProjectModal-content =========== -->
    </div>
</body>
<script src="../assets/js/config-server.js"></script>

</html>