<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Configuracion</title>
  <script src="../assets/js/config-server.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap">
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
  <div class="notification-container">
    <div class="notification" id="notification">
      <% if (msg && msg.trim() !=='' ) { %>
        <script>
          showNotification('<%=msg%>');
        </script>
        <% } %>
    </div>
  </div>
  <div class="config-macrocontainer">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title"><a class="fa fa-circle ready"></a>
          ProjectFlow System by Sad4k</div>
        <div class="section-actions">
          <a href="/login" class="config-a-btn">Return</a>
        </div>
      </div>
      <div class="modal-inside-title">Menu de Configuracion</div>
      <div class="modal-body">

        <div class="general-container">
          <div class="options">
            <div id="contenedor-proyectos" class="options-container">
              <div class="section-spacer">Configuracion de Host</div>

              <div class="option" onclick="changePage(`System-config`)">Sistema</div>
              <div class="option" onclick="changePage(`Device-config`)">Dispositivo</div>
              <div class="option" onclick="alert(`Device-config`)">Cuentas</div>

              <div class="section-spacer">Configuracion de Server</div>

              <div class="option">Sistema</div>
              <div class="option">Base de Datos</div>
              <div class="option no-avaliable">Rutas</div>

            </div>
          </div>
          <div class="config-container" id="configTabPanel">
            <div class="page" name="System-config">
              <div class="modal-inside-title">Informacion del Sistema</div>

              <table class="report-control" class="overflow-horizontal" id="relatdProjectsFromMacroProjectsTable">
                <tbody>
                  <tr>
                    <td>Zona</td>
                    <td>Republica Dominicana</td>
                  </tr>
                  <tr>
                    <td>Idioma</td>
                    <td>Español</td>
                  </tr>
                  <tr>
                    <td>Actualizacion</td>
                    <td>Actualizaciones Disponibles</td>
                  </tr>
                  <tr>
                    <td>Sistema</td>
                    <td>PF365 Ver.Pre-Alpha by Sad4k</td>
                  </tr>
                  <tr>
                    <td>Licencia</td>
                    <td>NO REGISTRADO (Funciones Limitadas)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn primary close">Cancel</button>
          <button type="submit" class="btn success">Success</button>
        </div>

        </form>


      </div>
      <!-- ======== newMacroProjectModal-content =========== -->
    </div>
</body>

</html>