

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #31394c;
}

div {
  margin: 0;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  padding: 5px;
  grid-gap: 5px;
}

.login-container {
  margin: 10px;
  display: flow-root;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.login-btn {
  display: block;
  margin: 10px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #354057;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #6F7990;
}
.action-btn {
  margin: 2px;
  padding: 2px;
  width: 15px;
  text-align: center;
  border-radius: 5px;
}
.action-btn:hover {
  background: #586c91;
}

.ready {
  color: #0bf99e;
}
.not-ready {
  color: #e71e23;
}
/* ---------------------- */

/* Estilos para el formulario */
.login-card {
  background-color: #2b2f3f;
  border-radius: 10px;
  min-width: 350px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  color: #f3f3f3;
  font-size: 14px;
}

.login-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  height: 15px;
  overflow: hidden;
  font-weight: bold;
}
.login-card-body {
  padding: 10px;
}
.login-card-inside-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 16px;
  color: #f3f3f3;
}
.section-spacer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  font-size: 10px;
  color: #586480;
}
.section-actions {
  display: flex;
}
/* Warning */
.warning {
  background-color: #ffcc00; /* Amarillo */
  color: #333; /* Texto oscuro */
}

/* Danger */
.danger {
  border: solid 1px #f44336 !important; /* Rojo */
  color: #fff !important; /* Texto blanco */
}

/* Success */
.success {
  background-color: #4caf50 !important; /* Verde */
  color: #fff !important; /* Texto blanco */
}

/* Info */
.info {
  background-color: #2196f3; /* Azul */
  color: #fff; /* Texto blanco */
}



.form-group {
  position: relative;
  width: 100%;
  display: grid;
  padding: 5px;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0); /* Borde inicialmente oculto */
  transition: all ease-in 0.3s; /* Transición suave */
}

.form-group:focus-within {
  outline: solid 1px #f3f3f3;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form-control:focus {
  outline: none;
}
.form-group span {
  position: absolute;
  top: 0;
  right: 0;
  color: #f3f3f330;
  height: 10px;
  padding: 5px 15px 0px 0px;
}
.form-group a {
  position: absolute;
  top: 0;
  right: 30px;
  text-align: right;
  padding: 2px;
  overflow: hidden;
  color: #f3f3f390;
  width: 30%;
  height: 18px;
}
.form-group .form-control {
  padding: 10px;
  margin: 5px 5px 0px 0px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  color: #f3f3f3;
  background: #f3f3f308;
  transition: border-color 0.3s;
}
/* Clase para filas */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px; /* Compensar el margen negativo de las columnas */
  margin-left: -15px; /* Compensar el margen negativo de las columnas */
}

/* Clase para columnas */
.col {
  flex: 1;
  padding: 0 15px; /* Espaciado entre columnas */
}



.notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.notification {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.notification.show {
  opacity: 1;
}
