 <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>Panel de Administracion</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="/">Dashboard</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Administracion
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
   <div class="content">
        <div class="row">
          <div class="col-md-2">
            <a  class="form" href="/pmanager/usersgrid">
            <div class="card card-body">
                <div class="author">
                    <i class="lg lni lni-user"></i> Usuarios
                </div>
                
              </div>
                
                  </a>   
            </div>

            <div class="col-md-2">
                  <a href="/pmanager/projectsgrid">
            <div class="card card-body">
                <div class="author">
                    <i class="lg lni lni-pencil "></i> Proyectos  
                </div>
                
              </div>
                
                  </a> 
            </div>

                        <div class="col-md-2">
                  <a href="/pmanager/projectsgrid">
            <div class="card card-body">
                <div class="author">
                    <i class="lg lni lni-pencil "></i> Finances  
                </div>
                
              </div>
                
                  </a> 
            </div>


            
        </div>
      </div>
     
